---
import Layout from '../../layouts/layout.astro';
import { TimeChart } from '../../components/chart/time-chart.tsx';
import { tokenPriceManager } from '@/server/tokens/token-price-manager.ts';
import type { DataPoint } from '@/lib/chart-utils';
import { DAY, YEAR } from '@/lib/time-constants';

const { token } = Astro.params;

if (!token) {
  return new Response('Token required');
}

const now = Date.now();

const from = now - YEAR;
const to = now;

const prices = await tokenPriceManager.getPrices({
  pair: {
    baseToken: token,
    quoteToken: 'USDC'
  },
  range: {
    from,
    to
  }
});

if (!prices) {
  return new Response('Data not found');
}

const pricesArray: DataPoint[] = [];

for (let timestamp = Math.round(from / DAY) * DAY; timestamp < to; timestamp += DAY) {
  const value = prices[timestamp];

  if (!value) {
    continue;
  }

  pricesArray.push({
    timestamp,
    value
  });
}
---

<Layout>
  <div class="flex-grow w-full px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-[800px] mx-auto">
      <h1>{token}</h1>
      <TimeChart data={pricesArray} client:only="react" />
    </div>
  </div>
</Layout>
