---
import { Main, Sidebar, Section, SidebarItem, Container } from '@/components/protocol';
import Layout from '@/layouts/project.astro';
---

<Layout>
  <h1>Example Protocol</h1>
  <Container>
    <Sidebar>
      <SidebarItem client:load>SUMMARY</SidebarItem>
      <SidebarItem client:load>WITHDRAWALS</SidebarItem>
      <SidebarItem client:load>PERMISSIONS</SidebarItem>
      <SidebarItem client:load>MILESTONES</SidebarItem>
    </Sidebar>
    <Main>
      <Section title="SUMMARY">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="WITHDRAWALS">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="PERMISSIONS">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="MILESTONES">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
    </Main>
  </Container>
</Layout>
