---
import { Main, Sidebar, Section, SidebarItem, Container } from '@/components/protocol';
import Layout from '../../layouts/protocol.astro';
import { TVLChart } from '@/components/tvl-chart';
import { db } from '@/server/db';
import { bigIntDiv } from '@/components/protocol-ranking';

const rocketPoolDB = await db.rocketPool.findMany({
  orderBy: {
    block_number: 'asc'
  }
});

const rocketPoolTV = rocketPoolDB.map((value) => ({
  value: bigIntDiv(BigInt(value.eth), BigInt(1e18)),
  timestamp: Number(value.block_timestamp) * 1000
}));
---

<Layout>
  <div class="my-16 md:mt-24">
    <TVLChart
      title={'Rocket Pool'}
      logo="/protocol-logo/rocketpool.png"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit amet odio laoreet, condimentum turpis vel."
      tvls={[rocketPoolTV]}
      client:load
    />
  </div>
  <Container>
    <Sidebar>
      <SidebarItem client:load>SUMMARY</SidebarItem>
      <SidebarItem client:load>WITHDRAWALS</SidebarItem>
      <SidebarItem client:load>PERMISSIONS</SidebarItem>
      <SidebarItem client:load>MILESTONES</SidebarItem>
    </Sidebar>
    <Main>
      <Section title="SUMMARY">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="WITHDRAWALS">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="PERMISSIONS">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
      <Section title="MILESTONES">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut feugiat urna. In sit
        amet odio laoreet, condimentum turpis vel.
      </Section>
    </Main>
  </Container>
</Layout>
