---
import Layout from '../layouts/layout.astro';
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
---

<Layout>
  <div class="flex-grow w-full px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-[1070px] mx-auto">
      <Header />
      <div class="flex flex-col justify-center gap-16 mt-16 lg:flex-row md:mt-32">
        <div>
          <div>
            <div class="flex items-center gap-4">
              <h1 class="text-6xl font-medium md:text-8xl">Donate</h1>
              <img src="/icons/heart.png" alt="heart" class="w-16 h-16 animate-heartbeat" />
            </div>
            <div class="flex flex-col gap-4 mt-8 text-2xl text-white opacity-70">
              <p>
                Stakelens is built by a passionate group dedicated to bringing transparency to
                staking protocols in the Ethereum ecosystem.
              </p>
              <p>
                We operate as a research and development (R&D) collective for staking, committed to
                its ongoing development and maturity.
              </p>
            </div>
          </div>
          <div class="flex flex-col items-center gap-4 mt-8 md:mt-16 md:flex-row">
            <a
              href="https://etherscan.io/address/0x39613ca315f4b1311829829f6d8dc285e9baf22e"
              class="select-none flex font-semibold items-center justify-center bg-[#454A75] text-white px-4 py-2 rounded gap-2 w-full md:w-auto border border-white border-opacity-10"
              >ETHEREUM
              <img src="/icons/link.svg" alt="link" class="w-5 h-5" />
            </a>
            <a
              href="https://arbiscan.io/address/0x39613ca315f4b1311829829f6d8dc285e9baf22e"
              class="select-none flex font-semibold items-center justify-center bg-[#1E2A36] text-white px-4 py-2 rounded gap-2 w-full md:w-auto border border-white border-opacity-10"
              >ARBITRUM
              <img src="/icons/link.svg" alt="link" class="w-5 h-5" />
            </a>
            <a
              href="https://optimistic.etherscan.io/address/0x39613ca315f4b1311829829f6d8dc285e9baf22e"
              class="select-none flex font-semibold items-center justify-center bg-[#FF0420] text-white px-4 py-2 rounded gap-2 w-full md:w-auto border border-white border-opacity-10"
              >OPTIMISM
              <img src="/icons/link.svg" alt="link" class="w-5 h-5" />
            </a>
          </div>
        </div>
        <div>
          <img src="/icons/qr.svg" alt="qr" class="w-full" />
          <p class="text-[#8C8C8C] font-mono mt-8 font-medium lg:block hidden">
            0x39613ca315f4b1311829829f6d8dc285e9baf22e
          </p>
        </div>
      </div>
      <div
        class="mt-16 overflow-hidden border border-white rounded md:mt-16 md:mb-16 border-opacity-10"
      >
        <div class="flex items-center justify-center bg-[#2D2D2D] h-16">
          <div class="font-mono text-xl font-semibold text-white uppercase opacity-60 md:text-2xl">
            Your support allows us to:
          </div>
        </div>
        <div class="text-white text-xl px-12 md:px-16 py-8 bg-[#191919]">
          <ul class="flex flex-col gap-3 mt-2 list-disc">
            <li>
              Continuously provide accurate and reliable information about Ethereum staking
              protocols.
            </li>
            <li>Lower the barrier to entry for users interested in staking.</li>
            <li>
              Design, develop, and maintain software within the Ethereum ecosystem, with a focus on
              staking.
            </li>
            <li>Empower Ethereum users to make informed decisions about staking their ETH.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>
