---
import Layout from '../layouts/Layout.astro';
import { Chart } from '../components/chart';
import { Plasma } from '@/components/noise';
// import { getRocketPoolData } from './api/test';

// const rocketPoolData = await getRocketPoolData();
---

<Layout>
  <div class="flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 w-full">
    <div class="max-w-[1070px] mx-auto">
      <div class="flex justify-between items-center">
        <div class="flex items-center justify-center gap-2">
          <img src="/star.svg" alt="vista" class="w-8 h-8" />
          <div class="text-5xl font-medium">vista</div>
        </div>
        <div class="items-center justify-center gap-5 md:flex hidden">
          <a href="#" class="font-mono font-light uppercase bg-[#191919] px-3 py-2 rounded"
            >protocols</a
          >
          <a href="#" class="font-mono font-light uppercase bg-[#191919] px-3 py-2 rounded">docs</a>
          <a href="#" class="font-mono font-light uppercase bg-[#191919] px-3 py-2 rounded"
            >donate</a
          >
          <a href="#" class="font-mono font-light uppercase bg-[#191919] px-3 py-2 rounded">about</a
          >
        </div>
      </div>

      <div class="mt-16 md:mt-24 flex items-center justify-between gap-8 flex-wrap">
        <div>
          <h2 class="text-3xl font-medium mb-2">Total Value Locked</h2>
          <div class="text-xl opacity-70 max-w-[600px]">
            Total USD value of all canonically bridged, externally bridged, and natively minted
            tokens.
          </div>
        </div>
        <div class="min-w-[120px] text-right">
          <div class="text-[40px] md:leading-[50px] font-medium">$36.8B</div>
          <div>
            <div class="flex items-center justify-end gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="12"
                viewBox="0 0 14 12"
                fill="none"
              >
                <path d="M7 0L13.9282 12H0.0717969L7 0Z" fill="#33FF54"></path>
              </svg>
              <div>
                <span class="text-green-500">+4.62%</span>
                <span class="opacity-60">/</span> 7 days
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-[#191919] p-8 mt-8 rounded">
        <Chart client:only="react" />
      </div>
      <div
        class="bg-[#191919] mt-8 rounded flex items-center justify-between md:h-[140px] flex-wrap md:flex-nowrap"
      >
        <div class="flex flex-col items-start justify-center gap-1 p-8 w-full md:w-[25%]">
          <div class="font-mono font-bold text-xs opacity-50">ETH STAKED</div>
          <div class="font-semibold text-2xl">Ξ 32,517,221</div>
        </div>
        <div class="w-[1px] h-[140px] bg-[#4b4b4b] md:block hidden"></div>
        <div
          class="flex flex-col items-start justify-center gap-1 p-8 w-full md:w-[25%] md:border-t-0 border-t border-[#4b4b4b]"
        >
          <div class="font-mono font-bold text-xs opacity-50">VALIDATORS</div>
          <div class="font-semibold text-2xl">1,016,163</div>
        </div>
        <div class="w-[1px] h-[140px] bg-[#4b4b4b] md:block hidden"></div>
        <div
          class="flex flex-col items-start justify-center gap-1 p-8 w-full md:w-[25%] md:border-t-0 border-t border-[#4b4b4b]"
        >
          <div class="font-mono font-bold text-xs opacity-50">STAKED SHARE OF ETH</div>
          <div class="font-semibold text-2xl">27.13%</div>
        </div>
        <div class="w-[1px] h-[140px] bg-[#4b4b4b] md:block hidden"></div>
        <div
          class="flex flex-col items-start justify-center gap-1 p-8 w-full md:w-[25%] md:border-t-0 border-t border-[#4b4b4b]"
        >
          <div class="font-mono font-bold text-xs opacity-50">LIDO DOMINANCE</div>
          <div class="font-semibold text-2xl">28.69%</div>
        </div>
      </div>
      <div class="mt-32">
        <div class="flex items-center justify-between flex-wrap gap-8">
          <div>
            <h2 class="text-3xl font-medium mb-2">Protocol Rankings</h2>
            <div class="text-xl opacity-70">
              <span class="block"> The top 10 protocols by total value locked. </span>
            </div>
          </div>
          <div class="flex items-center justify-center font-mono text-sm font-bold gap-3">
            <div
              class="bg-[#2E46C8] rounded border border-white border-opacity-10 px-3 py-1 select-none cursor-pointer"
            >
              7D
            </div>
            <div
              class="bg-[#111111] rounded border border-white border-opacity-10 px-3 py-1 select-none cursor-pointer"
            >
              1M
            </div>
            <div
              class="bg-[#111111] rounded border border-white border-opacity-10 px-3 py-1 select-none cursor-pointer"
            >
              1Y
            </div>
            <div
              class="bg-[#111111] rounded border border-white border-opacity-10 px-3 py-1 select-none cursor-pointer"
            >
              30D
            </div>
          </div>
        </div>
        <div class="max-w-[100vw] overflow-x-auto mt-8 mb-32">
          <table class="w-full rounded overflow-hidden">
            <thead class="bg-[#242424] font-mono text-[#949494] border-b border-[#4B4B4B]">
              <tr>
                <th class="text-left font-medium p-4 border-r border-[#4B4B4B]">PROTOCOL</th>
                <th class="text-right font-medium p-4 border-r border-[#4B4B4B]">RETURN</th>
                <th class="text-right font-medium p-4 border-r border-[#4B4B4B]">TVL</th>
                <th class="text-right font-medium p-4 border-r border-[#4B4B4B]">CATEGORY</th>
                <th class="text-right font-medium p-4 border-r border-[#4B4B4B]">VALIDATORS</th>
                <th class="text-right font-medium p-4 border-r border-[#4B4B4B]">ETH/USD STAKED</th>
                <th class="text-right font-medium p-4">MKT SHARE</th>
              </tr>
            </thead>
            <tbody class="bg-[#191919]">
              <tr class="border-b border-[#4B4B4B]">
                <td class="p-4 font-semibold">Lido Finance</td>
                <td class="p-4 font-light text-right">13.5%</td>
                <td class="p-4 font-light text-right">$154.6M</td>
                <td class="p-4 font-light text-right">Liquid Staking</td>
                <td class="p-4 font-light text-right">678,453</td>
                <td class="p-4 font-light text-right">6.7m ($4.8b)</td>
                <td class="p-4 font-light text-right">31.5%</td>
              </tr>
              <tr class="border-b border-[#4B4B4B]">
                <td class="p-4 font-semibold">Rocket Pool</td>
                <td class="p-4 font-light text-right">13.5%</td>
                <td class="p-4 font-light text-right">$154.6M</td>
                <td class="p-4 font-light text-right">Liquid Staking</td>
                <td class="p-4 font-light text-right">678,453</td>
                <td class="p-4 font-light text-right">6.7m ($4.8b)</td>
                <td class="p-4 font-light text-right">31.5%</td>
              </tr>
              <tr class="border-b border-[#4B4B4B]">
                <td class="p-4 font-semibold">EigenLayer</td>
                <td class="p-4 font-light text-right">13.5%</td>
                <td class="p-4 font-light text-right">$154.6M</td>
                <td class="p-4 font-light text-right">Liquid Staking</td>
                <td class="p-4 font-light text-right">678,453</td>
                <td class="p-4 font-light text-right">6.7m ($4.8b)</td>
                <td class="p-4 font-light text-right">31.5%</td>
              </tr>
              <tr class="border-b border-[#4B4B4B]">
                <td class="p-4 font-semibold">Stakewise</td>
                <td class="p-4 font-light text-right">13.5%</td>
                <td class="p-4 font-light text-right">$154.6M</td>
                <td class="p-4 font-light text-right">Liquid Staking</td>
                <td class="p-4 font-light text-right">678,453</td>
                <td class="p-4 font-light text-right">6.7m ($4.8b)</td>
                <td class="p-4 font-light text-right">31.5%</td>
              </tr>
              <tr class="border-b border-[#4B4B4B]">
                <td class="p-4 font-semibold">Stader</td>
                <td class="p-4 font-light text-right">13.5%</td>
                <td class="p-4 font-light text-right">$154.6M</td>
                <td class="p-4 font-light text-right">Liquid Staking</td>
                <td class="p-4 font-light text-right">678,453</td>
                <td class="p-4 font-light text-right">6.7m ($4.8b)</td>
                <td class="p-4 font-light text-right">31.5%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <Plasma client:only="react">
    <div class="flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 w-full h-full">
      <div class="max-w-[1070px] mx-auto w-full h-full">
        <div class="flex justify-center w-full h-full flex-col gap-6">
          <div>
            <p class="text-[30px]">
              Made with
              <span class="text-[#FF84BF] font-mono font-bold">
                {'<3'}
              </span>
            </p>
            <p class="text-[30px] mt-[-8px]">by Vista</p>
          </div>
          <div>
            <div class="relative inline-block">
              <input
                type="text"
                placeholder="JOIN OUR MAILING LIST..."
                class="bg-[#191919] border-0 rounded w-[490px] h-[62px] px-4 font-mono text-[19px] placeholder:text-white placeholder:text-opacity-50"
              />
              <img
                src="/icons/logout.svg"
                alt="arrow"
                class="absolute right-4 top-[50%] translate-y-[-50%] w-6 h-6"
              />
            </div>
          </div>
          <div class="flex items-center gap-6 mt-2">
            <img src="/icons/x.svg" alt="x" class="w-7 h-7" />
            <img src="/icons/github.svg" alt="github" class="w-7 h-7" />
            <img src="/icons/in.svg" alt="linkedin" class="w-7 h-7" />
            <img src="/icons/discord.svg" alt="discord" class="w-7 h-7" />
          </div>
        </div>
      </div>
    </div>
  </Plasma>
</Layout>
