---
import { Plasma } from './noise';
---

<Plasma client:only="react">
  <div class="flex-grow w-full h-full px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-[1070px] mx-auto w-full h-full">
      <div class="flex flex-col justify-center w-full h-full gap-6">
        <!-- <div>
          <p class="text-[30px]">
            Made with
            <span class="text-[#FF84BF] font-mono font-bold">
              {'<3'}
            </span>
          </p>
          <p class="text-[30px] mt-[-8px]">by stakelens</p>
        </div> -->
        <!-- <div>
          <div class="relative inline-block max-w-[100%]">
            <input
              type="text"
              placeholder="JOIN OUR MAILING LIST..."
              class="bg-[#191919] rounded max-w-[100%] w-[490px] h-[62px] px-4 font-mono text-[19px] placeholder:text-white placeholder:text-opacity-50 shadow-lg border border-white border-opacity-10 hover:border-opacity-20 duration-200 outline-none active:outline-none focus:outline-none ring-0 focus:ring-0 active:ring-0 focus:border-white focus:border-opacity-40 active:border-white active:border-opacity-40"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute right-4 top-[50%] translate-y-[-50%] w-6 h-6 text-[#93DEFF]"
              ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
            >
          </div>
        </div> -->
        <div class="flex items-center gap-6 mt-2">
          <img
            src="/icons/x.svg"
            alt="x"
            class="duration-200 cursor-pointer w-7 h-7 hover:scale-110"
          />
          <img
            src="/icons/github.svg"
            alt="github"
            class="duration-200 cursor-pointer w-7 h-7 hover:scale-110"
          />
          <img
            src="/icons/farcaster.svg"
            alt="farcaster"
            class="duration-200 cursor-pointer w-7 h-7 hover:scale-110"
          />
          <img
            src="/icons/discord.svg"
            alt="discord"
            class="duration-200 cursor-pointer w-7 h-7 hover:scale-110"
          />
        </div>
      </div>
    </div>
  </div>
</Plasma>
