<div class="flex justify-between items-center">
  <a href="/">
    <div class="flex items-center justify-center gap-2">
      <!-- <img src="/star.svg" alt="vista" class="w-8 h-8" /> -->
      <div class="text-2xl font-medium font-mono">stakelens</div>
    </div>
  </a>
  <div class="items-center justify-center gap-5 md:flex hidden">
    <a
      href="/"
      class="font-mono text-sm bg-[#191919] hover:bg-[#222] px-3 py-2 rounded border border-white border-opacity-10 hover:border-opacity-10 duration-200 transition-all"
      >HOME</a
    >
    <a
      href="/donations"
      class="font-mono text-sm bg-[#191919] hover:bg-[#222] px-3 py-2 rounded border border-white border-opacity-10 hover:border-opacity-10 duration-200 transition-all"
      >DONATE</a
    >
    <!-- <a
      href="#"
      class="font-mono text-sm bg-[#191919] hover:bg-[#222] px-3 py-2 rounded border border-white border-opacity-10 hover:border-opacity-10 duration-200 transition-all"
      >ABOUT</a
    > -->
  </div>
</div>
