---
import '../styles/index.css';
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stakelens</title>
  <meta
    name="format-detection"
    content="telephone=no, date=no, address=no, email=no, url=no, number=no"
  />
</head>
