---
import Head from '../components/Head.astro';
---

<!doctype html>
<html lang="en">
	<Head/>
	<body class="bg-gray-100 font-sans antialiased text-gray-900 flex flex-col min-h-screen">
		<slot />
	</body>
</html>
